<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gun Peer Node</title>

  <!-- Load Gun from CDN -->
  <script src="https://cdn.jsdelivr.net/npm/gun/gun.js"></script>

  <!-- Load gunConfig -->
  <script src="/js/gunConfig.js"></script>

  <!-- Load game AFTER gun is globally available -->
  <script type="module" src="/game/src/build.js"></script>
  
  <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <!----->
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  
   <div class="nav_bar">
      <div class="nav_name">Impossible Dash</div>

      <div class="nav_links_sect">
        <a href="/" class="nav_link">Home</a>
        <a href="/profile" class="nav_link">Profile</a>
        <a href="/game" class="nav_link">Game</a>
        <a href="/leaderboard" class="nav_link">Leader Board</a>
        <a href="/login" class="nav_link">Log In</a>
      </div>
    </div>

    <div class="main_content">
        <h1>Impossible Dash</h1>

        <div class="canvas_div">
          <canvas id="game_container"></canvas>
        </div>
        <script type="module" src="/game/src/build.js"></script>
    </div>

  <script type="module" src="/js/script.js"></script>
</body>
</html>