<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gun Peer Node</title>
  <script src="https://cdn.jsdelivr.net/npm/gun/gun.js"></script>
  <script type="module" src="/js/gunConfig.js"></script>
  
  <style>
    body { font-family: Arial, sans-serif; }
    #messages { margin-top: 20px; padding: 10px; border: 1px solid #ccc; max-height: 300px; overflow-y: auto; }
    .message { margin-bottom: 10px; }
  </style>
</head>
<body>
  
  
  
  <script type="module" src="/js/gunConfig.js"></script>
  <script type="module" src="/js/blockchain.js"></script>
  <script type="module" src="/js/gameLogic.js"></script>
  <script type="module" src="/js/script.js"></script>
</body>
</html>