:root {
    --primary_color: #A3B0E6;
    --accent_color: #270E71;
    --highlight_color: #2E3033;
    --highlight_color2: #DBE4FF;
    --background_color: #ADB5BD;
}
  
* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: "Noto Sans", sans-serif;
    color: var(--accent_color);
}

h1, p {
    margin-bottom: 16px;
}

.main_content h1 {
    color: black;
}

h2 { 
    color:black;
}

/*Reusable Elements*/
/*----------*/
.bottom_spacer {
    margin-bottom: 32px;
}
  
.large_bottom_spacer {
    margin-bottom: 64px;
}

.section_title {
/* text-align: center; */
    font-size: 48px;
    font-weight: 600;
}

.project_img {
    width: 40%;
    height: 40%;
    border-radius: 5px;
}

form:last-child {
    margin-top: 12px;
}
/*----------*/

/*navbar contents*/
.nav_links_sect {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.nav_link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease;
}

.nav_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Adjust width */
    height: 100vh; /* Full height */
    background-color: var(--highlight_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.nav_name {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}
/*---------------------------*/


/*---AnchorTags---*/
a:link {
    align-items: center;
    color: var(--primary_color);
    text-decoration: none;
}

a:visited {
    align-items: center;
    color: var(--primary_color);
    text-decoration: none;
}

a:hover {
    color:var(--highlight_color2);
    background-color: var(--accent_color);
}

a:active {
    background-color: var(--accent_color);
}
/*-----------------*/


/*--Main Content Area--*/
.main_content {
    margin-left: 250px; /* Adjust based on sidebar width */
    padding: 20px;
    color: white;
    background-color: var(--background_color);
    height: 100vh;
}
/*---------------------*/

.canvas_div {
    display: flex;
    justify-content: center;
}




/*--------Forms--------*/
.form_button {
    /* background-color: var(--highlight_color); */
    border: none;
    border-radius: 15%;
    color: var(--primary_color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 12px;
}

.form_button:hover {
    background-color: var(--highlight_color); 
    color: var(--primary_color);
}
/*---------------------*/


/*--------Block Display--------*/
.block_card {
    display: block;
    background-color: var(--highlight_color);
    padding-left: 8px;
    padding-top: 4px;
}
/*-----------------------------*/




.mining_controls {
    margin-top: 20px;
    text-align: center;
}

.mining_button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
}

.mining_button:hover {
    background-color: #666;
}